<div class="codepen-embed">
  <p class="codepen" data-height="{{height}}" data-default-tab="result" data-slug-hash="{{id}}" data-user="pupismyname" style="height: {{height}}px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
    <span>See the Pen <a href="https://codepen.io/pupismyname/pen/{{id}}">
    {{name}}</a> by John Brooks (<a href="https://codepen.io/pupismyname">@pupismyname</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</div>
