---
layout: layout-full.liquid
---

{% assign titleSlug = title | slugify -%}
<div class="title">
  <div class="hero">
    <hero-image></hero-image>
    <div class="hero-contents">
      <h1 class="title-title">{{ title }}</h1>
    </div>
  </div>

  {% if desc -%}
    <h2 class="title-desc">{{ desc }}</h2>
  {% endif -%}
  {% include "content-meta.liquid" -%}
</div>
{% if category -%}
  {% unless date -%}
    <h1>!!! Don't forget the metadata date !!!</h1>
    <dl>
      <dt>Date file was created:</dt>
      <dd><code>date: {{ page.date | date: "%Y-%m-%d %H:%M:%S", "UTC" }}</code></dd>
      <dt>Current date:</dt>
      <dd><code>date: {{ "now" | date: "%Y-%m-%d %H:%M:%S", "UTC" }}</code></dd>
    </dl>
    <p>Choose one and copy/paste into your front matter. It's already in UTC.</p>
    <h1>!!! Don't forget the metadata date !!!</h1>
    <hr>
  {% endunless -%}
{% endif -%}
<div class="content">
  {{ content }}
</div>
<hr>
{% include "content-meta.liquid" -%}
{% if category -%}
  {% include "next-prev.liquid", coll: collections[category], currentPage: page -%}
{% else -%}
  <p>Find more in the <a href="/archive/">Archive</a></p>
{% endif -%}
