---
layout: layout-main.liquid
title: Content
---

{% assign titleSlug = title | slugify -%}
<div class="title">
  <h1 class="title-title">{{ title }}</h1>
  {% if date -%}
    <p class="title-desc subdued small">{{ date | readableDateTime }}</p>
  {% endif -%}
  {% if date -%}
    <p class="title-tags subdued small">
      {% include "list-metadata.liquid" -%}
    </p>
  {% else -%}
    <p class="title-tags subdued small">
      {% include "list-metadata.liquid", category: collections.categories, tags: collections.filteredTags -%}
    </p>
  {% endif -%}
  <hr>
</div>
{% if desc -%}
  {% unless date -%}
    <h1>! ! ! Don't forget the metadata date ! ! !</h1>
    <dl>
      <dt>Date file was created:</dt>
      <dd><code>date: {{ page.date | date: "%Y-%m-%d %H:%M:%S", "UTC" }}</code></dd>
      <dt>Current date:</dt>
      <dd><code>date: {{ "now" | date: "%Y-%m-%d %H:%M:%S", "UTC" }}</code></dd>
    </dl>
    <p>Choose one and copy/paste into your front matter. It's already in UTC.</p>
    <h1>! ! ! Don't forget the metadata date ! ! !</h1>
    <hr>
  {% endunless -%}
{% endif -%}
<div class="content">
  {{ content }}
</div>
{% include "next-prev.liquid", coll: collections[category], currentPage: page -%}
