---
title: John Brooks
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="16x16" href="/s/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/s/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="180x180" href="/s/favicon/favicon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/s/favicon/favicon-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/s/favicon/favicon-512x512.png">
  <link rel="apple-touch-icon-precomposed" sizes="192x192" href="/s/favicon/favicon-192x192.png">
  <meta name="generator" content="{{ eleventy.generator }}">
  <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/s/styles/styles.min.css?v={{cacheBusters.styles}}">
</head>
<body>

  <div class="container">
    <nav class="masthead-nav">
      <h1><a href="/"><span class="logo">//---</span> John Brooks</a></h1>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
    </nav>
    <div class="columns">
      <nav class="column column-sidebar">
        <div class="section">
          <p><a href="#" data-js="font-switcher"><span class="button">Aa</span> Change fonts</a></p>
        </div>
        <div class="section">
          <h2>About</h2>
          <p>My name is <strong>John Brooks</strong>, sometimes known as <strong>pupismyname</strong> or <strong>pup</strong>. I live in <strong>Omaha, Nebraska</strong>, USA. I'm a front-end web developer, specializing in User Experience, HTML, CSS, and Javascript.</p>
        </div>
        <div class="section">
          <h2>Work</h2>
          <ul class="listing">
            <li><a href="https://www.ookla.com/">Ookla</a></li>
            <li><a href="https://www.speedtest.net/">Speedtest</a></li>
            <li><a href="https://www.georgiagoldenolympics.org/">Georgia Golden Olympics</a></li>
            <li><a href="https://www.linomafc.com/">Linoma FC</a></li>
            <li><a href="https://www.weshouldhavewebsite.com/">We Should Have Website</a></li>
          </ul>
        </div>
        <div class="section">
          <h2>Contact</h2>
          <ul class="listing">
            <li><a href="https://mastodon.social/@pupismyname">@pupismyname</a></li>
            <li><a href="https://github.com/pupismyname">Github</a></li>
            <li><a href="https://codepen.io/pupismyname/">CodePen</a></li>
            <li><a href="mailto:contact@pupismyname.com">Email</a></li>
          </ul>
        </div>
      </nav>
      <div class="column column-content">
        <main>
          {{ content }}
        </main>
        <hr>
        <footer>
          <nav class="footer-nav">
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
          </nav>
        </footer>
      </div>
    </div>
  </div>

  {% include "js-scroll-to-top" %}
  {% include "js-font-switcher" %}

</body>
</html>
