---
layout: layout-main.liquid
title: Content
---
<div class="header">
  <h1>{{title}}</h1>
  <p class="subdued small">{{page.date | readableDateTime}}</p>
</div>
{%- unless date -%}
  <hr>
  <h1>! ! ! Don't forget the metadata date ! ! !</h1>
  <dl>
    <dt>Date file was created:</dt>
    <dd><code>date: {{ page.date | date: "%Y-%m-%d %H:%M:%S", "UTC" }}</code></dd>
    <dt>Current date:</dt>
    <dd><code>date: {{ "now" | date: "%Y-%m-%d %H:%M:%S", "UTC" }}</code></dd>
  </dl>
  <p>Choose one and copy/paste into your front matter. It's already in UTC.</p>
  <h1>! ! ! Don't forget the metadata date ! ! !</h1>
{%- endunless -%}
<hr>
<div class="content">
  {{ content }}
</div>
{%- include "next-prev.liquid", coll: collections[collection], currentPage: page -%}
