{%- if list == blank -%}
  {%- assign list = collections.content | reverse | slice: 0, 20 -%}
{%- endif -%}
{%- if listTags == blank -%}
  {%- assign listTags = true -%}
{%- endif -%}
<div class="content">
  <ul class="content-list">
    {%- for item in list %}
      {%- assign titleSlug = item.data.title | slugify %}
      <li class="content-list-item">
        <h3 style="view-transition-name: header-{{ titleSlug }}"><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
        {%- if item.data.desc %}
          <p class="desc">{{ item.data.desc }}</p>
        {%- endif %}
        <div style="view-transition-name: date-{{ titleSlug }}" class="subdued small">{{item.date | readableDateTime}}</div>
        {%- if listTags %}
          <div class="subdued small">
            {%- for tag in item.data.tags %}
              {%- unless tag == 'content' %}
                <a href="/{{ tag }}/">{{ tag }}</a>
              {%- endunless %}
            {%- endfor %}
          </div>
        {%- endif %}
      </li>
    {%- endfor %}
  </ul>
</div>
