<div class="next-prev">
  <div class="next-prev-control next-prev-collection">
    {% assign nextPost = collections.content | getNextCollectionItem: currentPage -%}
    {% assign previousPost = collections.content | getPreviousCollectionItem: currentPage -%}
    <ul class="next-prev-controls">
      <li class="next-prev-control-prev">
        {% if previousPost -%}
          <a href="{{ previousPost.url | url }}" class="next-prev-control-link">
        {%- endif %}
        <span class="next-prev-control-text">&larr; Older</span>
        <br>
        {% if previousPost -%}
          {{ previousPost.data.title }}
          <br>
          <span class="next-prev-control-category">{{ previousPost.data.category.singular }}</span>
        {% else -%}
          <span class="next-prev-control-empty">Nothing older</span>
        {%- endif %}
        {% if previousPost -%}
          </a>
        {%- endif %}
      </li>
      <li class="next-prev-control-next">
        {% if nextPost -%}
          <a href="{{ nextPost.url | url }}" class="next-prev-control-link">
        {%- endif %}
        <span class="next-prev-control-text">Newer &rarr;</span>
        <br>
        {% if nextPost -%}
          {{ nextPost.data.title }}
          <br>
          <span class="next-prev-control-category">{{ nextPost.data.category.singular }}</span>
        {% else -%}
          <span class="next-prev-control-empty">Nothing newer</span>
        {%- endif %}
        {% if nextPost -%}
          </a>
        {%- endif %}
      </li>
    </ul>
  </div>
</div>
